ClientSOP1/ClientSOP1/Service References/ServiceReference1/BanqueWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BanqueWS" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:9191/?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="conversation">
    <part name="parameters" element="tns:conversation" />
  </message>
  <message name="conversationResponse">
    <part name="parameters" element="tns:conversationResponse" />
  </message>
  <message name="getCompte">
    <part name="parameters" element="tns:getCompte" />
  </message>
  <message name="getCompteResponse">
    <part name="parameters" element="tns:getCompteResponse" />
  </message>
  <message name="compteList">
    <part name="parameters" element="tns:compteList" />
  </message>
  <message name="compteListResponse">
    <part name="parameters" element="tns:compteListResponse" />
  </message>
  <portType name="BanqueService">
    <operation name="conversation">
      <input wsam:Action="http://ws/BanqueService/conversationRequest" message="tns:conversation" />
      <output wsam:Action="http://ws/BanqueService/conversationResponse" message="tns:conversationResponse" />
    </operation>
    <operation name="getCompte">
      <input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte" />
      <output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse" />
    </operation>
    <operation name="compteList">
      <input wsam:Action="http://ws/BanqueService/compteListRequest" message="tns:compteList" />
      <output wsam:Action="http://ws/BanqueService/compteListResponse" message="tns:compteListResponse" />
    </operation>
  </portType>
  <binding name="BanqueServicePortBinding" type="tns:BanqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="conversation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCompte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="compteList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BanqueWS">
    <port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
      <soap:address location="http://localhost:9191/" />
    </port>
  </service>
</definitions>